@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans;
  src: url(../public/assets/fonts/iransansdn.woff2);
}

@font-face {
  font-family: iransansbold;
  src: url(../public/assets/fonts/iransansdnbold.woff2);
}

@font-face {
  font-family: iransanslight;
  src: url(../public/assets/fonts/iransansdnlight.woff2);
}

body {
  color: black;
  background: white;
}
